<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
  <Appenders>
    <!-- Using Json formatting for console logging only -->
    <Console name="Console" target="SYSTEM_OUT">
      <JsonTemplateLayout compact="true" eventTemplateUri="classpath:JsonLayout.json"/>
    </Console>
    <RollingFile name="RollingFile" fileName="./log/com.kmwllc.lucille.log" filePattern="./log/com.kmwllc.lucille-%i.log">
      <PatternLayout pattern="%d{yy/MM/dd HH:mm:ss} %p %c{1}: %m%n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy max="20" />
    </RollingFile>
    <RollingFile name="heartbeat" fileName="./log/heartbeat.log" filePattern="./log/heartbeat-%i.log" immediateFlush="true">
      <PatternLayout pattern="%d{yy/MM/dd HH:mm:ss} %p %c{1}: %m%n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="5 KB" />
      </Policies>
      <DefaultRolloverStrategy max="4" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console" />
      <AppenderRef ref="RollingFile" />
    </Root>
    <Logger name="com.kmwllc.lucille.core.Heartbeat" level="INFO" additivity="false">
      <AppenderRef ref="heartbeat" />
    </Logger>
  </Loggers>
</Configuration>